@model Rejestr_osób_zaginionych.Models.LostViewModel

@{
    ViewData["Title"] = "Delete lost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete lost</h1>

<div>
    <h4>LostViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastSeenPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastSeenPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastSeenDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastSeenDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
